.heading{
    text-align: center;
    margin-bottom: 3.5rem;
    color: aliceblue;
}

.comRating{
  background: rgba(255, 255, 255, 0.1);
  padding: 3px 8px;
  border-radius: 6px;
  font-size: 0.85rem;
  font-weight: bold;
}

.nftRating {
  color: #f3bc3c;
}

.superHit {
  color: rgb(74, 235, 74);
}